@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
  @apply text-secondary-500;
}

/* Track */
::-webkit-scrollbar {
  width: 10px;
  background: #C4C9D4;
  /* Set the width of the scrollbar */
}

/* Thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #373F51; /* Set the background color of the thumb */ /* Set the border radius of the thumb */
}

/* Track on hover */
::-webkit-scrollbar:hover {
  background: #D8DBE2; /* Set the background color of the track on hover */
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2380BE; /* Set the background color of the thumb on hover */
}

/* Button (the up and down arrows) */
::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons */
}
